* {
    box-sizing: border-box;
}

body { 
    margin: 0;
    
}

img, 
picture {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;

    @media screen and (min-width: 768px) {
        padding: 0 148px;
    }
}


/* header */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 64px;
}

.header__menu {
    display: grid;
    grid-auto-flow: column;
}


/* hero section */

.hero-section {
    position: relative;
    z-index: -1;
    padding: 250px 0;
    background-image: url(./images/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media screen and (min-width: 768px) {
        padding: 250px 0;
        background-image: url(./images/desktop/image-hero.jpg);
    }
}


/* about section */

.about-section__container {
    display: grid;
    position: relative;

    @media screen and (min-width: 768px) {
        grid-template: repeat(3, 1fr) / repeat(6, 1fr);
    }
}


.about-section__image {
    
    @media screen and (min-width: 768px) {
        grid-area: 1 / 1 / 4 / 5;
    }
    
}



.about-section__info {

    @media screen and (min-width: 768px) {
        grid-area: 2 / 4 / 4 / 7;
        position: relative;
        z-index: 1;
        background-color: aliceblue;
        padding: 20px 0 0 20px;
    }
    
}


/* products section */


.products-section__container {
   
    display: grid;
   grid-template: min-content min-content min-content / 1fr;
   justify-items: center;
   row-gap: 40px;
   margin: 0 auto;

   @media screen and (min-width: 768px) {
    gap: 40px;
    grid-template: min-content min-content min-content / 1fr 1fr 1fr 1fr;
   }
 
}




.products-section__list {
   
    grid-column: 1 / 5;
    display: grid;
    
    gap: 40px;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
    }
}



.products-section__button {
    
    justify-self: center;

    @media screen and (min-width: 768px) {
        grid-row: 1 / 2;
        grid-column: 3 / 5;
        justify-self: end;
    }

}






.card {
    position: relative;
}

.card__image {
    position: relative;    
}

.card__text {
        color: aliceblue;
        position: absolute;
        bottom: 40px;
        left: 40px;
        max-width: 9ch;
        text-align: start;
        text-transform: uppercase;
        margin: 0;
}

